@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    [x-cloak] {
        @apply hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scrollbar::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.5rem;
    }

    /* Track */
    .scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-400/50 dark:bg-gray-400;
    }

    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
        @apply cursor-pointer bg-gray-600 hover:bg-gray-500
        dark:bg-gray-700 dark:hover:bg-gray-600;
    }
}
@media (min-width: 768px) and (max-width: 1119.98px) {
    #diagramme{
        width: 96%;
        margin-bottom: 20px;
    }
    #diagramme canvas{
        
        width: 96% !important;
    }
   
  }
  
@media (max-width : 1119.98px){

    #table{
        width: 90% !important;
        margin-top: 20px;
    }
    #table table{
        width: fit-content !important;
    }
}

