@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scrollbar::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.5rem;
    }

    /* Track */
    .scrollbar::-webkit-scrollbar-track {
        @apply bg-gray-400/50 dark:bg-gray-400;
    }

    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
        @apply cursor-pointer bg-gray-600 hover:bg-gray-500
        dark:bg-gray-700 dark:hover:bg-gray-600;
    }
}
